.inputfield {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.textarea {
    resize: vertical;
    min-height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.inputfile {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.cameraButton {
    margin-left: 10px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cameraIcon{
    height: 80%;
    width: auto;
}

.coverPreview {
    margin-top: 10px;
    max-width: 100px;
    max-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

.submitButton:hover {
    background: #45a049;
}
